.optimalCoinTitle {
  text-align: center;
  margin: 20px 0;
}

.optimalCoinGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.optimalCoinButton {
  height: 40px;
  margin-left: 20px;
  width: 228px;
}

@media (max-width: 768px) {
  .optimalCoinGroup {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .optimalCoinButton {
    height: 40px;
    margin-left: 0;
    margin-top: 10px;

  }
}
